/* ###############################  Fonts ################################ */
@font-face {
  font-family: "segoeui_l";
  src: url("../font/segoeui_l.ttf");
}
@font-face {
  font-family: "segoeui_r";
  src: url("../font/segoeui_r.ttf");
}
@font-face {
  font-family: "segoeui_sb";
  src: url("../font/segoeui_sb.ttf");
}
@font-face {
  font-family: "segoeui_b";
  src: url("../font/segoeui_b.ttf");
}
@font-face {
  font-family: "bitter_b";
  src: url("../font/bitter_b.otf");
}
* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

body .white {
  color: #ffffff;
}
body .blue {
  color: #4bcaff;
}
body header.container-fluid {
  background-image: url("../img/background_header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body header.container-fluid .container-fluid {
  padding: 0;
}
body header.container-fluid .background_navbar {
  background-color: rgba(53, 63, 70, 0.85);
}
body header.container-fluid .background_navbar .navbar-dark {
  padding-right: 15px;
  padding-left: 15px;
}
body header.container-fluid .background_navbar .navbar-dark .navbar-brand, body header.container-fluid .background_navbar .navbar-dark .navbar-nav .nav-link {
  font-family: "segoeui_b", sans-serif;
  color: white;
  border: 2px solid transparent;
}
body header.container-fluid .background_navbar .navbar-dark .navbar-brand {
  font-size: 2.25rem;
}
body header.container-fluid .background_navbar .navbar-dark .navbar-nav .nav-link {
  font-size: 1.25rem;
}
body header.container-fluid .background_navbar .navbar-dark .navbar-brand:hover, body header.container-fluid .background_navbar .navbar-dark .navbar-nav .nav-link:hover {
  color: #4bcaff;
}
body header.container-fluid .background_navbar .navbar-dark .navbar-brand:hover span.blue, body header.container-fluid .background_navbar .navbar-dark .navbar-nav .nav-link:hover span.blue {
  color: white;
}
body header.container-fluid .background_navbar .navbar-dark .navbar-nav .nav-link.active {
  color: #4bcaff;
  border-color: #4bcaff;
}
body header.container-fluid .background_navbar .navbar-dark .navbar-nav .nav-link.active span.blue {
  color: white;
}
body header.container-fluid .background_navbar .navbar-dark .navbar-nav .nav-link.active:hover {
  color: white;
}
body header.container-fluid #top_anchor {
  height: 115px;
}
body header.container-fluid .container {
  padding: 11rem 0;
}
body header.container-fluid .container h1 {
  display: flex;
  justify-content: center;
  font-family: "segoeui_l";
  line-height: 50px;
  color: white;
  text-align: center;
}
body main .container-fluid .container .row div div.border-top {
  position: absolute;
  top: 40px;
  width: 45px;
  border-top: 2px solid transparent !important;
}
body main .container-fluid .container .row div div.border-top.bordure_blanche {
  border-color: white !important;
}
body main .container-fluid .container .row div div.border-top.bordure_noire {
  border-color: black !important;
}
body main section .container .row div h2 {
  font-family: "segoeui_l";
}
body main .container-fluid .container .row {
  margin-right: 0;
}
body main #section_services {
  background-color: #4bcaff;
}
body main #section_services .container .row div h3 {
  font-family: "segoeui_sb";
  color: white;
}
body main #section_portfolio .container .row div .list-group a.list-group-item {
  font-family: "segoeui_b", sans-serif;
  color: black;
  border: 2px solid transparent;
}
body main #section_portfolio .container .row div .list-group a.list-group-item:hover {
  color: #4bcaff;
}
body main #section_portfolio .container .row div .list-group a.list-group-item:hover {
  color: #4bcaff;
}
body main #section_portfolio .container .row div .list-group a.list-group-item.active {
  color: #4bcaff;
  border-color: #4bcaff;
  background-color: white;
}
body main #section_portfolio .container .row div .list-group a.list-group-item.active:hover {
  color: black;
}
body main #galleryModal .modal-dialog .modal-content img {
  width: 100%;
}
body main #section_features {
  background-color: #515f67;
}
body main #section_features .container .col-5 a {
  font-family: "segoeui_b";
  text-decoration: none;
  color: #353f46;
  border: 2px solid #353f46;
}
body main #section_features .container .col-5 a:hover {
  color: #4bcaff;
}
body main #section_features .container .col-6 img {
  width: 100%;
}
body main #section_twitter {
  background-color: #4bcaff;
}
body main #section_twitter .container .row .col-auto a svg {
  width: 40px;
  height: 40px;
}
body main #section_twitter .container .row .col-auto a svg:hover {
  fill: #353f46;
}
body main #section_twitter .container .row div p {
  font-family: "segoeui_l";
  line-height: 50px;
}
body main #section_twitter .container .row div p span {
  font-family: "segoeui_sb";
}
body main #section_whois {
  background-image: url("../img/background_whois.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body main #section_whois .container {
  padding: 5rem 15px;
}
body main #section_whois .container .row div p {
  font-size: 0.82rem;
}
body main #section_whois .container .row div div a {
  border: 2px solid white;
}
body main #section_whois .container .row div div a svg {
  width: 40px;
  height: 40px;
}
body main #section_whois .container .row div div a svg:hover {
  fill: #353f46;
}
body main #section_testimonials .container .row div h2 {
  color: black;
}
body main #section_testimonials .container .row div span#guillemets {
  font-family: "bitter_b";
  font-size: 50px;
}
body main #section_testimonials .container .row div p {
  font-family: "segoeui_l";
  font-size: 29px;
}
body main #section_testimonials .container .row div span#auteur_citation {
  font-family: "segoeui_b";
  font-size: 14px;
  color: #4bcaff;
}
body main #section_contact {
  background-image: url("../img/background_contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main #section_contact .container .form .row .form-group label {
  font-family: "segoeui_b";
  color: #ffffff;
}
body main #section_contact .container .form .row .form-group input, body main #section_contact .container .form .row .form-group textarea {
  background-color: transparent;
  border-radius: 0;
  color: #ffffff;
}
body main #section_contact .container .form .row .form-group small {
  color: transparent;
}
body main #section_contact .container .form .row div p, body main #section_contact .container .form .row div pre {
  font-family: "segoeui_sb";
  font-size: 14px;
  color: white;
}
body main #section_contact .container .form .row #mySubmitButton {
  background-color: #4bcaff;
  border-radius: 0;
  font-family: "segoeui_b";
}
body footer {
  background-color: #353f47;
  font-family: "segoeui_sb";
  color: #515f67;
}
body footer .container .row .col-auto a {
  color: #515f67;
  text-decoration: none;
}
body footer .container .row .col-auto div {
  display: inline;
}

/*# sourceMappingURL=style.css.map */
